quadopt
bez

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE, virtualenv, build&dist folders etc
.venv
.idea
build/
dist/
*.egg-info/